body {
    background-color:#95c0fc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	
}

.logo{
	width:10%;
	height:10%;
	margin:2%;
	float:left;
	
}
.logo img{
	width:100%;
	height:100%;
}

#universidad{
	width:70%;
	height:10%;
	background-color:#4993FA;
	margin-top:2%;
	margin-bottom:5%;
	float:left;
	color: white;
	text-align: center;
   
}

#nota{
	width:10%;
	height:100px;
	background-color:blue;
	margin:2%;
	float:right;
	
	
}
#examen{
	width:auto;
	height:auto;
	margin-left:15%;
	margin-right:15%;
	background-color:white;
	clear:both;
	
}



#resultadosDiv{
	width: 50%;
	height:auto;
	position: absolute;
    	left: 50%;
   	top: 50%;
   	transform: translate(-50%, -50%);
	display: none;
	background-color:#4993FA;
	color:white;
	text-align: center;
	border-style: outset;
	
	
}

